# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
target_c = data.pivot_table(index = ['children'], values = 'debt', aggfunc = {'count','sum'})
target_c = target_c.rename(columns={'count':'total','sum':'target'})
target_c['share'] = target_c['target']/target_c['total']
target_c = target_c.sort_values(by='share')
target_c # Ваш код будет здесь. Вы можете создавать новые ячейки.

          total  target     share
children
5             9       0  0.000000
0         14091    1063  0.075438
3           330      27  0.081818
1          4808     444  0.092346
2          2052     194  0.094542
4            41       4  0.097561

**Вывод:** корреляция между количеством детей и возвратом кредита в срок прослеживается, но не сильная. Люди у которых 5 детей - не допускают просрочку кредита совсем (можно объяснить тем, что люди подходят более осознано и отвественно к погашению кредита в срок и недопускания лишней финансовой нагрузки). Люди, у которых детей нет, либо 3 ребенка в семье - допускают незначительно просрочку кредита(это можно объяснить тем, что люди без детей более платежеспособны, так как имеют меньшую финансовую нагрузку). Люди, у которых 1-2 ребенка, в целом допускают практически одинаковую просрочку по кредитам. При этом семьи с 2 детьми, допускают такое чаще, что может быть подтверждением гипотезы. Семьи с 4 детьми допускают наибольший процент невозвратности кредитов, возможно, ввиду серьезной финансовой нагрузки на семью.

**Вывод 2.0:** люди, которые не имеют детей, лучше всего отдают кредит, доля должников здесь составляет с 7,5%, хуже обстоит дело с должниками, кто имеет одного или двух детей, здесь доля невозврата составляет соответственно 9,2% и 9,4%. Остальные категории уже некорректно сравнивать, так как в них очень маленькая выборка.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
target_f = data.pivot_table(index = ['family_status'], values = 'debt', aggfunc = {'count','sum'})
target_f = target_f.rename(columns={'count':'total','sum':'target'})
target_f['share'] = target_f['target']/target_f['total']
target_f = target_f.sort_values(by='share')
target_f# Ваш код будет здесь. Вы можете создавать новые ячейки.

                       total  target     share
family_status
вдовец / вдова           951      63  0.066246
в разводе               1189      84  0.070648
женат / замужем        12261     927  0.075606
гражданский брак        4134     385  0.093130
Не женат / не замужем   2796     273  0.097639

**Вывод:** наблюдается высокая вероятность возврата кредита в срок у вдовцов и вдов, а также недалеко от них - люди со статусом "в разводе". Здесь может быть ряд причин: возраст, чувство ответственности, финансовая состоятельность. Люди, которые находятся в браке, имеют среднюю кредитную историю (не плохая и не хорошая). Здесь возможны такие факторы, как наличие детей и финансовые трудности. Люди в гражданском браке и люди, не состоящие в браке, имеют самую низкую долю возврата кредитов в срок. Причины этому могут быть также разные: наличие детей, молодой возраст, недостаточный доход и пр. В целом, зависимость прослеживается.

**Вывод 2.0:** наблюдается высокая вероятность возврата кредита в срок у вдовцов и вдов, только 6.6% из представленной выборки не успели оплатить кредит в срок, а также недалеко от них - люди со статусом "в разводе" 7%. Здесь может быть ряд причин: возраст, чувство ответственности, финансовая состоятельность. Стоит отметить, что выборка по людям с опытом брака - довольна низкая по соотношению к другим категориям, следовательно их сравнивать не столь корректно. Люди, которые находятся в браке, имеют среднюю кредитную историю (не плохая и не хорошая), а также представленны в выборке больше всего. Здесь возможны такие факторы, как наличие детей и финансовые трудности. Люди в гражданском браке и люди, не состоящие в браке, имеют самую низкую долю возврата кредитов в срок - 9,3% и 9,8% соответственно. Причины этому могут быть также разные: наличие детей, молодой возраст, недостаточный доход и пр. В целом, зависимость между семейным положением и возвратом кредита в срок *прослеживается*.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
target_i = data.pivot_table(index = ['total_income_category'], values = 'debt', aggfunc = {'count','sum'})
target_i = target_i.rename(columns={'count':'total','sum':'target'})
target_i['share'] = target_i['target']/target_i['total']
target_i = target_i.sort_values(by='share')
target_i# Ваш код будет здесь. Вы можете создавать новые ячейки.

                       total  target     share
total_income_category
D                        349      21  0.060172
B                       5014     354  0.070602
A                         25       2  0.080000
C                      15921    1353  0.084982
E                         22       2  0.090909

**Вывод:** самая высокая доля возврата кредита в срок у людей с доходом от 30 до 50 тысяч. Это может быть по причине, что люди не хотят просроков и штрафов по ним, так как доход может не покрыть их. Люди с доходом от 500 до 1000 тысяч также имеют низкую долю просрочки по кредиту (возможно по причине хорошего дохода и ответственности). Примечательно, что люди с высоким доходом, имеют относительно среднюю вероятность не вернуть кредит в срок. Люди с доходом от 50 до 200 имеют высокую вероятность, относительно остальных, не вернуть кредит. Возможно, это объясняется тем, что это основная масса людей, которые имею семьи и у которых не один кредит на руках. И в заключении, люди, с самым низким доходом имеют наивысшую вероятность не вернуть кредит. В этом случае корреляция очевидна.

**Вывод 2.0:** Представленная выборка сильно не сбалансированна. Сильно выделяются две группы: B и С, остальные группы сравнивать будет некорректно. Люди категории B (доход 200 001 - 1 000 000) имеют меньшую вероятность не вернуть кредит, чем люди категории С (доход 50 000- 200 000). Вероятно, главное объяснение этому - существенная разница в доходах и финансовой нагрузке на заемщика. Люди категории B не успевают вернуть кредит в срок в 7% случаев, а люди категории C - в 8,5%. Зависимость между уровнем дохода и возвратом кредита в срок по этой выборке определить практически невозможно, нужно большее количество респондентов по каждой категории.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
target_p = data.pivot_table(index = ['purpose_category'], values = 'debt', aggfunc = {'count','sum'})
target_p = target_p.rename(columns={'count':'total','sum':'target'})
target_p['share'] = target_p['target']/target_p['total']
target_p = target_p.sort_values(by='share')
target_p# Ваш код будет здесь. Вы можете создавать новые ячейки.

                          total  target     share
purpose_category
операции с недвижимостью  10751     780  0.072551
проведение свадьбы         2313     183  0.079118
получение образования      3988     369  0.092528
операции с автомобилем     4279     400  0.093480

**Вывод:** здесь наблюдается четкая корреляция. В случае с людьми, которые стремятся к созданию семьи или приобретению своей жил площади, вероятность возврата кредита в срок заметно выше, чем у людей, которые берут кредит на получение образования и покупку автомобиля. Здесь, вероятно, играет роль величина суммы кредита.

**Вывод 2.0:** в настойщей выборке люди с целью кредита на операции с недвижимостью представлены больше всего, около половины респондентов. Зависимость не успевших погасить кредит в срок от общего числа взявших кредит на операции с недвижимостью крайне мала по отношению к другим категориям (7,2%). Также, люди взявшие кредит на проведение свадьбы тоже имеют довольно низкий процент не возврата кредита в срок - 7,9%, но они в выборке представлены меньше всего и сравнивать их в общей массе будет не совсем корректно. С уверенностью можно сказать, что люди, которые берут кредит на получение образования или покупку автомобиля - самая уязвимая категория "должников". При среднечисленной выборке они хуже всех из представленных категорий возвращают кредит в срок - 9,25% и 9,34% соответственно. Здесь наблюдается четкая корреляция разных целей на кредит и его возвратом в срок, причем "ипотечники" - самые лучшие заемщики по представленной выборке. Возможно, это объясняется именно целью кредита, ведь просрок по нему может привести человека на улицу.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* пропуски были в столбцах days_employed и total_income. Скорее всего это человеческий фактор, кто-то из заемщиков, возможно, не захотел отвечать на эти вопросы. Такж стоит отметить, что количество пропусков в столбцах одинаковы, можно сделать вывод, что заполнение одного из столбцов влияет на заполненность другого столбца.

*Ответ 2.0:* пропуски в исходных данных были в столбцах days_employed и total_income. Скорее всего это человеческий фактор, кто-то из заемщиков, возможно, не захотел отвечать на эти вопросы или намеренно решил скрыть информацию об отработанных днях и доходах.
Также стоит отметить, что количество пропусков в столбцах одинаковы, можно сделать вывод, что заполнение одного из столбцов влияет на заполненность другого столбца.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* медианное значение лучше всего отражает выборку в целом, в случае, если есть незаполненные данные. Среднее арифметическое отражает ситуацию некорректно, так как не учитывает разброс данных.

### Шаг 4: общий вывод.

**Общий вывод:** по выдвинутым гипотезам корреляция прослеживается, но невысокая. Нет четкой взаимосвязи, но тем не менее, по проведенному анализу можно сказать, что люди, которые с наибольшей вероятностью допустят просрочку по кредиту, скорее всего, будут иметь 4 детей, возможно будут состоять в гражданском браке, а более вероятно, что не будут состоять в браке вовсе, и их доход будет существенно низок. Также, возможно, что целью кредита будет получение образования или покупка автомобиля или получение образования. Не обязательно, что все эти факторы должны совпасть, но комбинация нескольких из них может говорить о том, что в будущем возможны просрочки по кредиту. Напротив, высока вероятность возврата кредита в срок, если человек более не состоит в браке, имеет высокий доход и, вероятно, у него нет детей.

**Общий вывод 2.0:** по выдвинутым гипотезам корреляция прослеживается, но невысокая. Нет четкой взаимосвязи, но тем не менее, по проведенному анализу можно сказать, что семейный статус влияет на вероятность платежей по кредиту в срок - люди, бывшие в браке чаще плятят в срок чем те, кто не бывали в браке, причем разведенные и овдовевшие платят в срок чаще, чем люди в гражданском браке/не в браке вовсе (в соотношении ~ 7% к 9%). Бездетные люди, согласно представленной выборке, более надежные заемщики, чем люди с детьми, доля должников здесь составляет 7,5% и корреляция растет в зависимости от количества детей ( у людей с 1 и 2 детьми процент невозврата в срок 9,2% и 9,5% соответсвенно).
Также стоит отметить, что чем выше доход - тем меньше вероятность просрока по кредиту, люди с доходом от 200 001 до 1 000 000 реже просрачивают кредит (в 7% случаев), чем те у кого доход 50 000 - 200 000 (8,5 % соответственно).
Люди с целью кредита "операции с недвижимостью" - более надежные заемщики, чем те, у кого целью кредита будет получение образования или покупка автомобиля (соотношение 7,25% к 9,3%).
Можно сделать вывод, что самым надежным заемщиком будет человек имевший опыт брака, высокий доход и, вероятно, у него нет детей.